ul {
    list-style-type: none;
    float: left;
}

#leftButtons {
    position: relative;
    top: 7px;
    left: 75px;
}

#middleStuff {
    position:absolute;
    left: 210px;
    top: 17px;
}

#rightButtons {
    position: absolute;
    left: 965px;
    top: 16px;
}

#backgroundImage {
    position: relative;
    top: 5px;
    margin: 0 0 5px 0;
    width: 78px;
    height: 30px;
}

#mainCanvas {

}

#pathName {
    width: 223px;
}

#console {
    background-color: black;
    color: lightgrey;
}

.rightButton {
    margin: 0 0 5px 0;
    width: 125px;
    height: 36px;
    border-radius: 0.8vmin;
}

.rightButton:hover {
    background-color: lightgray;
}

.pathButton {
    width: 73px;
    height: 49px;
    border-radius: 0.8vmin;
}

.pathButton:hover {
    background-color: lightgray;
}

.topRight {
    display: inline;
}