ul {
    list-style-type: none;
    float: left;
}

#leftButtons {
    position: relative;
    top: 7px;
    left: 75px;
}

#middleStuff {
    position:absolute;
    left: 210px;
    top: 17px;
}

#rightButtons {
    position: absolute;
    left: 960px;
    top: -20px;
}

#backgroundImage {
    position: relative;
    top: 12px;
    left: 16px;
    margin: 0 0 10px 0;
}

#pathName {
    width: 223px;
}

#console {
    background-color: black;
    color: lightgrey;
}

.rightButton {
    margin: 0 0 5px 0;
    width: 125px;
    height: 40px;
    border-radius: 0.8vmin;
}

.rightButton:hover {
    background-color: lightgray;
}

#fileInputButton {
    width: 70px;
    height: 20px;
    border-radius: 0.8vmin;
}

#fileInputButton:hover {
    background-color: lightgray;
}

#topRightMiddle {
    position: relative;
    top: 8px;
}

.pathButton {
    width: 73px;
    height: 49px;
    border-radius: 0.8vmin;
}

.pathButton:hover {
    background-color: lightgray;
}

.topRight {
    display: inline;
}